<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="olivervbk.steam.steamremote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:allowTaskReparenting="false">
        <activity
            android:name="olivervbk.steam.steamremote.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="olivervbk.steam.steamremote.GamePadActivity"
            android:label="@string/space_gamepad"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="olivervbk.steam.steamremote.MusicActivity"
            android:label="@string/space_music"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="olivervbk.steam.steamremote.GamesListActivity"
            android:label="Games"
            android:screenOrientation="landscape" >
        </activity>
         <activity
            android:name="olivervbk.steam.steamremote.MousePadActivity"
            android:label="MousePad" >
        </activity>
    </application>

</manifest>
